<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/"> Back</a>

    <h1>EMI Calculation Results</h1>
    <% if (emi_available) { %>
      <table>
        <tr>
          <th>EMI Date</th>
          <th>Amount</th>
        </tr>
        <% data.forEach(function(emi) { %>
          <tr>
            <td><%= emi.emi_date %>&nbsp;&nbsp;</td>
            <td><%= emi.amount %></td>
          </tr>
        <% }); %>
      </table>
    <% } else { %>
      <p>EMI not available</p>
    <% } %>
</body>
</html>